@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    --text: #001427;
    --background: #f3efe0;
    --primary: #334195;
    --secondary: #5a4465;
    --accent: #a7cecb;
}

html {
    min-height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Onest", sans-serif;
    font-weight: 500;
    background-color: var(--background);
    overflow-x: hidden;
    min-height: 100%;
    margin: 0;
}

main {
    width: 100vw;
    width: 100svw;
    background-color: var(--background);
    color: var(--text);
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}
