@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    --text: #001427;
    --background: #f3efe0;
    --primary: #334195;
    --secondary: #95bce5;
    --accent: #a7cecb;
}

html {
    min-height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Onest", sans-serif;
    font-weight: 500;
    background-color: var(--background);
    overflow-x: hidden;
    min-height: 100%;
    margin: 0;
}

main {
    width: 100vw;
    width: 100svw;
    background-color: var(--background);
    color: var(--text);
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.star-rating {
    padding-top: 2rem;
}

input[type="radio"] {
    display: none;
}

.star {
    font-size: 1.9rem;
    cursor: pointer;
    color: var(--primary);
}

.star-hover {
    font-size: 1.9rem;
    cursor: pointer;
    color: #5866b9;
}

.star-rating-display {
    display: flex;
    justify-content: center;
}

.error-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 1rem;
    color: var(--text);
    flex-direction: column;
}
