.single {
    padding: 3rem 3rem;
    display: flex;
}

.single-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.single-cover {
    width: 300px;
    height: 450px;
}

.single-header {
    display: flex;
}

.single-header-info > h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.single-header-info > a {
    text-decoration: none;
    color: var(--primary);
    cursor: pointer;
}

.single-header-info > a > h2 {
    padding-bottom: 0.5rem;
    font-style: italic;
    font-weight: 500;
}

.single-header-info > div {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}

.single-header-other {
    flex-grow: 1;
    padding: 0.5rem 0 0 0.5rem;
}

.single-header-other > button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border: 1px solid var(--primary);
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--background);
}

.bookmark-icon {
    font-size: 1.5rem;
}

.single-content > p {
    font-weight: 400;
}

.cover-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .single-wrapper,
    .single-header {
        flex-direction: column;
    }

    .single-header-other {
        padding-bottom: 1rem;
        padding-left: 0;
        padding-top: 0;
    }

    .single {
        padding: 1rem;
        justify-content: center;
    }
}
