.search-results-main {
    justify-content: flex-start;
}

.search-results-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    place-items: center;
}

.search-results {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

.search-results > h1 {
    padding: 1rem 0 0.5rem 0;
}

.search-results > h4 {
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
    .search-results {
        padding: 1rem 0.5rem;
    }
}
